<!DOCTYPE html>
<html>
<head>
    <title>Edit Dept</title>
    {% include 'admin/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ dept.id }}" name="deptId" lay-verify="title"
                               autocomplete="off" placeholder="Please input" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Name</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ dept.dept_name }}" name="deptName" lay-verify="title"
                               autocomplete="off" placeholder="Please input" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Charger</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ dept.leader }}" name="leader" lay-verify="title" autocomplete="off"
                               placeholder="Please input charger"
                               class="layui-input">
                    </div>
                </div>
                <!-- <div class="layui-form-item">
                    <label class="layui-form-label">Mail</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ dept.email }}" name="email" lay-verify="title" autocomplete="off"
                               placeholder="Please input mail"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Phone</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ dept.phone }}" name="phone" lay-verify="title" autocomplete="off"
                               placeholder="Please input phone"
                               class="layui-input">
                    </div>
                </div> -->
                <div class="layui-form-item">
                    <label class="layui-form-label">Status</label>
                    <div class="layui-input-block">

                        <input type="radio" name="status" {% if dept.status == 1 %}checked{% endif %} value="1"
                               title="Enable">

                        <input type="radio" name="status" {% if dept.status == 0 %}checked{% endif %} value="0"
                               title="Disable"
                        >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Sort</label>
                    <div class="layui-input-block">
                        <input type="text" name="sort" value="{{ dept.sort }}" lay-verify="title" autocomplete="off"
                               placeholder="Please input sort"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">Address</label>
                    <div class="layui-input-block">
                        <textarea placeholder="Please input address" name="address"
                                  class="layui-textarea">{{ dept.address }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="dept-update">
                <i class="layui-icon layui-icon-ok"></i>
               Submit
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                Reset
            </button>
        </div>
    </div>
</form>
{% include 'admin/common/footer.html' %}
<script>
  layui.use(['form', 'jquery'], function () {
    let form = layui.form
    let $ = layui.jquery

    form.on('submit(dept-update)', function (data) {
      $.ajax({
        url: '/dept/update',
        data: JSON.stringify(data.field),
        dataType: 'json',
        contentType: 'application/json',
        type: 'put',
        success: function (result) {
          if (result.success) {
            layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
              parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
              parent.render()
            })
          } else {
            layer.msg(result.msg, { icon: 2, time: 1000 })
          }
        }
      })
      return false
    })
  })
</script>
<script>
</script>
</body>
</html>